version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: notify-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  notify:
    image: registry.gitlab.com/benjaminandrade/notification-hub:latest
    container_name: notify-service
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=local
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
    depends_on:
      - redis


caddy:
  image: caddy:2
  container_name: caddy-gateway
  restart: unless-stopped
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    - caddy_data:/data
    - caddy_config:/config
  depends_on:
    -notify

volumes:
  redis_data:
  caddy_data:
  caddy_config: